# Back-End Deploy

# auth_google.html
# not_auth.html
# protected.html
# protected2.html
# profile.html
# index.html
# edit_profile.html
# .env
# /node_modules
# /backup


# Front-end Deploy
server.js
README.md
package-lock.json
package.json
.env
/node_modules
/backup